body {
	width: 800px;
	margin: 40px auto;
	font-size: 14px;
	color: #444;
}

.title-box{
    width: 600px;
    margin: auto;
    padding: 10px;
}

.question-box{
    width: 600px;
    height: 40px;
    border: 1px solid;
	margin: auto;
    padding: 10px;
}

.question-detail-box{
    width: 600px;
    border: 1px solid;
	margin: auto;
    padding: 10px;
}

.answer-box{
    width: 600px;
    border: 1px solid;
	margin: auto;
    padding: 10px;
}
